*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/*
!/.cursor/rules/
!/.cursor/rules/**
!/.cursor/hooks.json
!/.cursor/hooks/
!/.cursor/hooks/**
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
/deploy.zip
/public/unzip-deploy.php
/database/*.sqlite
/database/*.sqlite-journal
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
